@import "./_mixin.scss";

$endpoint-padding: 5px;

.graphQLcontainer {
  background-color: rgb(229, 230, 231);
  width: 100%;
  height: 100%;
  display: flex;
}

.session {
    height: 95%;
    flex: 1;
    padding: 0.5rem;
    display: flex;
    width: calc(100% - 100px);
    gap: $endpoint-padding;
}

.response {
    width: 50%;
    height: 100%;
}

.editor {
  @include editor(63vh);
  width: 50%;
}

.endpoint {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: $endpoint-padding;
  padding: 0 0 $endpoint-padding $endpoint-padding;
  width: calc(100% - $endpoint-padding);
}

.endpointInput {
  width: 70%;
}
