$modal-width: 400px;
$modal-border-color: #000;
$modal-box-shadow: 24px;
$modal-color: white;

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $modal-width;
  background-color: $modal-color;
  border-radius: 4px;
  box-shadow: $modal-box-shadow;
  padding-bottom: 40px;
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.modal-close-btn {
  align-self: flex-end;
  cursor: pointer;
}
