.header {
  background-color: #cba8e0;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  position: sticky;
  font-size: 1rem;
  justify-content: space-around;
  &-button {
    &:hover {
      cursor: pointer;
    }
  }
}

.navigation {
  display: flex;
  gap: 2rem;
}

.navigation a {
  color: black;
}

.lang-select {
  font-size: 1rem;
  padding: 0.1rem;
}