#root {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #cba8e0;
  padding: 10px;
  display: flex;
  align-items: center;
  position: sticky;
  font-size: 1rem;
  justify-content: space-around;
}

.main {
  flex-grow: 1;
  padding: 10px;
  margin: 0 auto;
}

.footer {
  background-color: #f1f1f1;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.navigation {
  display: flex;
  gap: 2rem;
}

.navigation a {
  color: black;
}

.lang-select {
  font-size: 1rem;
  padding: 0.1rem;
}

.rss-logo {
  width: 30%;
  border-radius: 15px;
}

.authors {
  display: flex;
}

.github-logo {
  width: 60%;
  cursor: pointer;
}