$button-size: 40px;

.button {
  width: $button-size;
  height: $button-size;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: $button-size * 0.75;
    height: $button-size * 0.75;
  }
}